[submodule "third_party/urdf-loaders"]
	path = third_party/urdf-loaders
	url = git@github.com:YanJiaHuan/urdf-loaders.git
[submodule "third_party/RM_API2"]
	path = third_party/RM_API2
	url = git@github.com:YanJiaHuan/RM_API2.git
