[submodule "third_party/urdf-loaders"]
	path = third_party/urdf-loaders
	url = git@github.com:YanJiaHuan/urdf-loaders.git
[submodule "third_party/franka_description"]
	path = third_party/franka_description
	url = https://github.com/frankarobotics/franka_description.git
